/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url('../imgs/galaxy.png'); 
  font-family: Inter, sans-serif;
  color: #34124d;
}

.button:hover {
  box-shadow: rgba(156, 77, 211, 0.4) 0px 5px, rgba(156, 77, 211, 0.3) 0px 10px,
    rgba(156, 77, 211, 0.2) 0px 15px, rgba(156, 77, 211, 0.1) 0px 20px,
    rgba(156, 77, 211, 0.05) 0px 25px;
}
.button:active {
  box-shadow: none;
}

button {
  cursor: pointer;
  width: 160px;
  height: 50px;
  border-radius: 20px;
  color: #9c4dd3;
  border: 2px solid #9c4dd3;
  transition: all 0.6s ease;
  display: block;
  margin: 0 auto; /* Center horizontally */
  font-size: 16px;
  font-weight: normal;
  font-family: inherit;
  align-items: center;
}

/* Logo container styles */
.logo-container {
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
}

.logo {
  width: 370px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Wrapper styles */
.wrapper {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px
  
}

/* Heading styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input styles */
.input {
  margin-bottom: 20px;
}

.input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
}

input[type="radio"] {
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* For older versions of Chrome/Safari */
  -moz-appearance: none; /* For older versions of Firefox */
  width: 20px; /* Adjust width of radio button */
  height: 20px; /* Adjust height of radio button */
  border: 1px solid rgb(13, 1, 106); /* Add border */
  border-radius: 0; /* Remove border-radius */
  margin-bottom: 5px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 2px;
}

/* Style when radio button is checked */
input[type="radio"]:checked {
  background-size: 10px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url('../imgs/checkmark.svg');
  background-color: rgb(13, 1, 106); /* Change background color */
  border-color: rgb(13, 1, 106); /* Change border color */
}

#color{
  margin-top: 20px;
  margin-bottom: 15px;
}
h1{
  font-size: 30px;
}
.wrapper1 {
  margin: 20px auto;
  max-width: 800px; /* Change the maximum width as needed */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-textarea {
  width: 100%; /* Take full width of the wrapper1 */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: vertical;
  height: 300px;
}