body {
    background-image: url("https://images.unsplash.com/photo-1665766760181-c3e9c40280fc?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 550px;
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
    background-color: var(--background-color);
    border-radius: 30px;
}

.image_side {
    width: 50%;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url("https://images.unsplash.com/photo-1676030789467-a097e2291bb2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.login.image_side {
    background-image: url("https://images.unsplash.com/photo-1676030788890-08b6a1cb11ba?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.image_side .quote {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}

.image_side .logo {
    width: 100%;
    max-width: 68px;
    margin-block: 4px 10px;
}

/* forms */
.form {
    width: 50%;
    padding: 50px;
}

.form h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

.form p {
    padding-block: 2px 20px;
}

.form .error {
    color: var(--danger-color);
    font-size: 12px;
    font-weight: 500;
    margin-top: -8px;
    margin-bottom: 6px;
    display: block;
}

.form .field {
    padding-bottom: 10px;
}

.form .field label {
    display: block;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary-color);
}

.form .field input {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
}

.form form button {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--main-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.form .line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px auto 10px;
    text-align: center;
    font-size: 18px;
    color: var(--text-muted);
}

.form .line::before,
.form .line::after {
    content: " ";
    height: 1px;
    width: 45%;
    background: var(--border-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.form .line::after {
    left: auto;
    right: 0;
}

.form .google_link {
    display: block;
    color: var(--primary-color);
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.form .redirect {
    display: block;
    font-size: 13px;
    margin-top: 8px;
    color: var(--secondary-color);
    font-weight: 500;
}

.form .redirect a {
    color: var(--primary-color);
}

/* Media Query */
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .content {
        flex-direction: column;
        height: auto;
    }
    .image_side {
        min-height: 400px;
        width: 100%;
    }
    .form {
        width: 100%;
    }

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .form h2 {
        font-size: 1.5rem;
    }
    .form {
        padding: 20px;
    }
}
