.logo-container {
  text-align: center;
  margin-top: 50px;
}

.logo {
  width: 370px;
  height: auto;
}

body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f4f4f4 url('/home/timadmar/tst/img/wallpaperflare.com_wallpaper (1).jpg');
  color: #34124d;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box form {
  text-align: center;
}

.login-box a:hover {
  background: #0065f9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0065f9, 0 0 25px #0065f9, 0 0 50px #0065f9, 0 0 100px #0065f9;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  color: white;
}

.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #aaa;
  position: relative;
  margin-right: 10px;
}

.radio-circle::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked+.radio-circle::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-button:nth-of-type(1) input[type="radio"]:checked+.radio-circle::before,
.radio-button:nth-of-type(2) input[type="radio"]:checked+.radio-circle::before,
.radio-button:nth-of-type(3) input[type="radio"]:checked+.radio-circle::before {
  background-color: #0065f9;
}

.radio-label {
  font-size: 16px;
  font-weight: bold;
}

.radio-button:hover .radio-circle,
.radio-button:hover input[type="radio"]:checked+.radio-circle::before {
  border-color: #555;
  background-color: #555;
}

  